#countdown-wrap {
    width: 100%;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#goal {
    align-self: flex-end;
    margin-right: 20px;
}

.stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#glass {
    width: 100%;
    height: 20px;
    background: #c7c7c7;
    border-radius: 10px;
    /*overflow: hidden;*/
}

#progress {
    width: 5%;
    height: 20px;
    background: #FF5D50;
}

.goal-stat {
    /*width: 25%;*/
    padding: 10px;
    /*color: #FFF;*/

/*@media only screen and (max-width: 640px) {*/
/*    width: 75%;*/
/*    text-align: center;*/
/*}*/

}

.goal-number,
.goal-label {
    /*display: block;*/
    font-size: 12px;
}

.goal-number {
    font-weight: bold;
}

/*--- Headline --*/
.j-root .j-headline {
    display: none;
}