#countdown-wrap {
    width: 100%;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

#goal {
    align-self: flex-end;
    margin-right: 20px;
    color: #FFF;
}

.stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#glass {
    width: 100%;
    height: 20px;
    background: #c7c7c7;
    border-radius: 10px;
}

#progress {
    width: 5%;
    height: 20px;
    background: #FF5D50;
}

.goal-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #FFF;
    font-size: 12px;
}

.goal-number {
    font-weight: bold;
}

/*--- Headline --*/
.j-root .j-headline {
    display: none;
}